html, body, #root, #root>div {
  height: 100%;
  overflow: hidden;
}
.App {
  text-align: center;
  background-image: url('./assets/meadow-landscape.png');
  background-attachment: fixed;
  background-color: #caf4ff;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 200vw;
  overflow: auto;
}
.header {
  font-family: 'Bungee Outline';
  font-size: 3.5rem;
  position: relative;
}
.underline {
  text-decoration: underline;
}
.cloud {
  height: 10rem;
  position: absolute;
}
.cloud.top {
  animation: cloud-x-travel 60s linear 0s infinite;
  height: 6rem;
  top: 3vw;
}

.cloud.middle {
  animation: cloud-x-travel 45s linear 0s infinite reverse;
  height: 7rem;
  top: 7vw;
}

.cloud.bottom {
  animation: cloud-x-travel 55s linear 5s infinite reverse;
  height: 9rem;
  top: 10vw;
  right: -100vw;
}

.balloon {
  height: 25rem;
  position: absolute;
  left: 15vw;
  top: 30vh;
}

.App-link {
  color: #61dafb;
}

@keyframes cloud-x-travel {
  from {left: -7vw;}
  to {left: 100vw;}
}
