html, body, #root, #root>div {
  height: 100%;
  overflow: hidden;
}
.App {
  text-align: center;
  background-image: url('./assets/meadow-landscape.png');
  background-attachment: scroll;
  background-color: #caf4ff;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 3000px;
  width: 3000px;
  transition: transform 3s;
}
.center-header {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 15vh;
  left: 18vw;
}
@media (max-width: 700px) {
  .center-header {
      left: 3vw;
  }
}

.header {
  font-family: 'Bungee Outline';
  font-size: 3.5rem;
  position: relative;
  margin: 0;
  text-align: left;
}
.cloud {
  height: 10rem;
  position: absolute;
}
.cloud.top {
  animation: cloud-x-travel 80s linear 0s infinite;
  height: 6rem;
  top: 3vw;
}

.cloud.middle {
  animation: cloud-x-travel 65s linear 0s infinite reverse;
  height: 7rem;
  top: 7vw;
}

.cloud.bottom {
  animation: cloud-x-travel 75s linear 5s infinite reverse;
  height: 8rem;
  top: 10vw;
  right: -100vw;
}

.balloon {
  height: 25rem;
  position: absolute;
  left: 15vw;
  top: 30vh;
}

#smiling-cloud {
  height: 9rem;
  margin-left: 1.5rem;
}

.App-link {
  color: #61dafb;
}

/* circle stuff */

.date-circle-container {
  position: absolute;
  left: 2000px;
  bottom: 15vh;
}


.spinner {
  animation: spin 20s linear 10s infinite;
}

.drawn-circle {
  animation: draw-dash 10s linear forwards;
}

#circle-one {
  stroke: rgb(180, 201, 246);
  stroke-dasharray: 98vh;
}

#circle-two {
  stroke: rgb(207, 188, 238);
  stroke-dasharray: 44vh;
}

#circle-three {
  stroke: thistle;
  stroke-dasharray: 17vh;
}


@keyframes cloud-x-travel {
  from {left: -7vw;}
  to {left: 100vw;}
}

@keyframes draw-dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes spin {
  to {
    transform:rotate(360deg);
  }
}

